body {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.game__wrapper {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.game__section {
    position: relative;
}

#total__section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-block__score-container {
    position: absolute;
    bottom: 0;
    right: -70px;
}

.score-block {
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
}

.score-block__counter {
    display: inline;
    margin: 0;
}

.score-block__counter::before {
    content: 'x';
}

.match-logo {   
    width: 30px;
    height: 30px;
}
 
.content-block__logo {
    width: 150px;
    height: 150px;
}

.total-logo {
    width: 170px;
    height: 170px;
}

.game__section  .take-buttons {
    margin: 10px 0 30px 0;
    position: relative;
}

.take-buttons {
    display: flex;
}

.take-buttons__button {
    background-color: transparent;
    cursor: pointer;
}
