body {
    background-color: #e0e0e04b;
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.game__wrapper {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.game__section {
    position: relative;
    margin: 10px 0;
}

#total__section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-block__score-container {
    position: absolute;
    bottom: 0;
    right: -70px;
}

.score-block {
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
}

.score-block__counter {
    display: inline;
    margin: 0;
}

.score-block__counter::before {
    content: 'x';
}

.match-logo {   
    width: 30px;
    height: 30px;
}
 
.content-block__logo {
    width: 150px;
    height: 150px;
}

.total-logo {
    width: 170px;
    height: 170px;
}

.game__section  .select {
    margin: 10px 0 30px 0;
}

.select {
    position: relative;
    display: flex;
}

.select__header {
    width: 300px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.select__name {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 18px;
    padding-left: 15px;
    line-height: 50px;
    transition: .5s ease;
    pointer-events: none;
}

.active {
    color: #B71C1C;
    top: -10px;
    padding-left: -5px;
    font-size: 14px;
}

.select__current {
    height: 30px;
    width: 100%;
    font-size: 20px;
    background-color: #c4c4c42c;
    border-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #000;
    padding: 30px 10px 1px 10px; 
    
}

.select__current:hover {
    background-color: #c4c4c44f;
}

.select__current:focus {
    outline: none;
    box-shadow: none;
    background-color: #8383832c;
    padding-bottom: 0;
    border-bottom: 2px solid #B71C1C;
}

.select__icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/select-icon-disabled.svg);
    transform: scaleY(-1);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    position: absolute;
    left: auto;
    right: 15px;
    bottom: 5px;
}

.icon-open {
    transform: scaleY(1);
    transition-duration: .3s;
}

.select.open .select__menu {
    display: block;
}

.select__menu {
    display: none;
    width: 300px;
    max-height: 132px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: 70px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 
                0 8px 10px 1px rgba(0,0,0,.14), 
                0 3px 14px 2px rgba(0,0,0,.12); 
}

.select__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    background-color: #fff;
    border-radius: 4px;
}

.select__item {
    padding: 10px 10px;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: left;

}

.select__item:hover {
    outline: none;
    background-color: #c4c4c44f;
}

.select__item:focus {
    outline: none;
    color: #da182e;
    background-color: #aaaaaa4f;    
}

.select__button {
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    color: #ce1d32;
    border: 2px solid #ce1d32;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.35s ease-in-out;
    font-weight: 700;
    margin-left: 50px;
    padding: 10px;
}

.select__button:hover, 
.select__button:focus {
  outline: none;
  color: #da182e;
  background-color: #0000000a;
  border-radius: 3px;
}