.options__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #00000033;
  backdrop-filter: blur(5px);
}


.options__popup {
  width: 40vw;
  height: 75vh;
  padding: 2%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fffffff6;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.options__title {
  color: #000000de;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  padding-bottom: 8px;
  width: 100%;
  border-bottom: 1px solid #00000013;
  font-weight: 300;
  letter-spacing: -1px;
  cursor: default;
}

.options__form {
  position: relative;
  width: 95%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 90%;
  position: relative;
}

.switch-block__label {
  width: 250px;
  line-height: 30px;
  font-weight: 300;
}

.switch-block__checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background-color: #c6c6c642;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

.switch-block__checkbox:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.678)
}

.switch-block__checkbox:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: .3s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.switch-block__checkbox:checked:before {
  left: 20px;
  background-color: #E30425;
}

.input-block__label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 18px;
  padding-left: 15px;
  line-height: 50px;
  transition: .5s ease;
  pointer-events: none;
}

.input-block__input {
  height: 30px;
  width: 100%;
  font-size: 20px;
  background-color: #f5f5f546;
  border-style: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #000;
  padding-left: 10px;
  padding-top: 30px;
}

.input-block__input:focus {
  outline: none;
  box-shadow: none;
  background-color: #f5f5f5;
  border-bottom: 2px solid #B71C1C;
}

.input-block__value-container {
  position: absolute;
  top: 50%;
  right: 20px;
}

.input-block__description {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 14px;
  color: #aca9a9;
}

.input-block__description::before {
  content: '*';
}

#matches-amount:focus, label.input-block__label,
#max-take:valid, .input-block__label {
  color: #B71C1C;
  top: -10px;
  padding-left: -5px;
  font-size: 14px;
}

.form__section .button-block {
  align-self: center;
  position: absolute;
  bottom: 20px;
}

.button-block {
  align-self: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.button-block__button {
  cursor: pointer;
  align-self: center;
  background-color: transparent;
  color: #6d1620;
  border-style: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.35s ease-in-out;
  font-weight: 700;
  padding: 8px;
}

.button-block__button:hover, 
.button-block__button:focus {
  outline: none;
  color: #ce1d32;
  background-color: #0000000a;
  border-radius: 3px;
}
